<h1>Book a flight</h1>


<% if @flight.length > 0 %>
  Seats available. Book a flight

  <%= form_for Ticket.new do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.submit %>
  <% end %>
<% else %>
  No seats available.
<% end %>


<%= link_to 'Admin', '/admins' %>

